@import "tailwindcss";

@font-face {
  font-family: "Right Grotesk";
  src: url("@/assets/fonts/rightGrotesk-WideMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("@/assets/fonts/rightGrotesk-SpatialBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("@/assets/fonts/rightGrotesk-TightMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("@/assets/fonts/rightGrotesk-CompactBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
}

@theme {
  /* FONTS */
  --font-sans: "Montserrat", sans-serif;
  --font-grotesk: "Right Grotesk", sans-serif;
  /* COLORS */
  --color-primary: #FF2D77;
  --color-primary-dark: #CC245F;
  --color-secondary: #1D13BD;
  --color-secondary-dark: #100A66;
}

@utility font-grotesk-wide-medium {
  font-family: "Right Grotesk", sans-serif;
  font-weight: 500;
  font-stretch: expanded;
}

@utility font-grotesk-spatial-black {
  font-family: "Right Grotesk", sans-serif;
  font-weight: 900;
}

@utility font-grotesk-tight-medium {
  font-family: "Right Grotesk", sans-serif;
  font-weight: 500;
  font-stretch: condensed;
}

@utility font-grotesk-compact-black {
  font-family: "Right Grotesk", sans-serif;
  font-weight: 900;
  font-stretch: condensed;
}

body {
  @apply m-0 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent layout shift when Radix Dialog locks scroll */
body[data-scroll-locked] {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

html {
  scroll-behavior: smooth;
}

.background-texture::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 40;
  pointer-events: none;
  opacity: 0.15;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");

}

